*                                  { font-family : sans-serif; font-size : 109%; }
h1,h2,h3,h4,h5,h6,p                { text-align: center; }
h1                                 { font-family : serif; font-size : 400%; margin : 0.5em;}
input                              { width : 100%; }
a                                  { text-decoration : dashed; }
.divitis                           { width : 40em; margin: auto; }
.error,.success                    { padding : 1em; }
.error                             { background-color : #ff9999; border : 2px solid red;}
.success                           { background-color : #99ff99; border : 2px solid green;}
.footer                            { text-align : center; font-size : 90%; margin-top : 1em;
                                     border-top : 1px solid gray; padding : 1em;}
.footer a                          { color : grey;}
